*{font-family: Arial, Helvetica, sans-serif;}
h1{
    color: orange;
    font-style: italic;
    text-shadow: black 2px 2px ;
    }
.bold{font-weight: bold;}
img{float: left;
    padding: 0px 20px 0 0;}
div>h3::first-letter{font-weight: bold; font-size: 200%;}
.listedLinks{color: orange;
    font-weight: bold;}
.listedLinks:hover{color: green;}
.listedLinks:visited{color: black;}